#rituum,
#rituum__left,
#rituum__left__packets,
#rituum__right,
#rituum__right__packets
{
  display:block;
  position:relative;
  padding:0px;
  margin:0px;
  left:0px;
  top:0px;
	font-size:0px;
}

#rtma, #rtmb
{
  display:block;
  background:#999;
  font-size:0px;
}
#rituum
{
  display:block;
  background:#999;
  font-size:0px;
}

#rituum__inner
{
  display:inline-block;
  background:#999;
  font-size:0px;
}
